@media screen and (max-width: 956px) {
    
    .modal-panier{
        margin-top: 15px;
    }
    section .container{
        flex-wrap: wrap;
    }
    section .image{
        display: flex;
        justify-content: center;
    }
    .image img {
        width: 550px;
        height: 600px;
    }
    .image-description {

        margin-bottom: 50px;
        row-gap: 100px;
    }

    .image-selection{
        align-self: center;
        justify-self: flex-end;
        margin: 80px 0 0 0;
    }
    .Casque1,
    .Casque2{
        transform: translate(0);
    }
    .info-logos{

        flex-wrap: wrap;
    }
    .assurance-offre{
        flex-wrap: wrap;
        justify-content: center;
    }
    .offre-partenaire{

        margin-top: 35px;
    }.footer-buy{
        flex-wrap: wrap;
        height: auto;
        margin-bottom: 10px;
    }
    header h3{
        text-align: center;
        font-size: 20px;
    }
}